<!DOCTYPE html>

<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>FireSpark - index.html</title>

		<link rel="stylesheet" type="text/css" href="/css/index.min.css" media="screen" />
		<script type="application/javascript" src="/js/index.js" defer="defer" async="async"></script>
	</head>
	<body>
		<header class="header">
			<section class="header__logo">
				<p class="header__logo--p">FIRESPARK</p>
			</section>
			<section class="header__content">
				<p class="header__content--p">GAME ENGINE</p>
				<p class="header__content--p">FOR</p>
				<p class="header__content--p">> DEVELOPERS_</p>
			</section>
		</header>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</body>
</html>
